.Menu{
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    height: 100%;
    width: 100%;
    min-height: 100%;
    overflow: hidden;
}


.Menu-header{
    background: rgb(255,155,125);
    /*height: 80px;*/


    box-shadow: 0 0 10px rgba(0,0,0,1);
}
.Menu-header img{
    width: 100%;
}