.ProtagonistThought{
    /*background: red;*/
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 100;
    left: 10%;
    top: 20%;
    width: 80%;
    min-height: 30%;
    padding: 25% 8px 16px 8px ;
    text-align: center;
    background: rgb(255,250,240);
    justify-content: space-between;
    border-radius: 4px;
}


.ProtagonistThought button{
    justify-self: flex-end;
    font-size: large;
    min-width: min-content;
    width: 50%;
    cursor: pointer;
    padding: 4px;
    align-self: center;
    border: none;
    border-radius: 16px;
    height: 32px;
    font-weight: 600;

    background: rgb(255,155,125);
}
.ProtagonistThought button:hover{
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    /*box-shadow: 0 0 10px rgba(0,0,0,1);*/

    position: relative;
    z-index: 10;
    box-shadow: 0px 5px 10px rgba(255,155,125, 0.4);
}

.ProtagonistThought-back{
    position: absolute;

    z-index: 99;
    width: 100%;
    height: 100%;
    background: transparent;
}

.ProtagonistThought-head{
    position: absolute;
    width: 100%;
    /*height: 32px;*/
    padding: 8px 0;
    top: 0;
    left: 0;
    background: rgb(255,155,125);

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: large;
    font-weight: 600;

}