.App {
  text-align: center;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}


.Register{
  height: 100%;
  width: 100%;
  background-size: 100% auto;
  overflow: scroll;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.Register::-webkit-scrollbar {
  display: none;
}

.Register img{
  width: 100%;

  user-select: none;
}

.Register form{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}
.Register form div{
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Register form div div{


  font-family: "Comic Sans MS";
  box-shadow: 0 0 10px rgba(0,0,0,0.6);;
  padding: 8px 20px;
  border-radius: 16px;
  width: max-content;
  background: rgb(138,184,178);
  margin: 8px 0;
}


.Register input{
  box-shadow: 0 0 10px rgba(0,0,0,0.6);;
  padding: 8px 12px;
  font-size: large;
  border: none;
  border-radius: 16px;
  width: 100%;
  background: rgb(240,178,143);
  margin: 8px 0;

  outline: none;
}

.Register input:focus{
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.Register button{
  font-family: Phosphate;
  color: rgb(37, 107, 101);
  cursor: pointer;

  box-shadow: 0 0 10px rgba(0,0,0,0.6);;
  padding: 4px 20px;
  font-size: x-large;
  border: none;
  border-radius: 16px;
  width: max-content;
  background: rgb(138,184,178);
  margin: 8px 0;
}

.Register form .login-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}



